---
import Sidebar from "../components/partials/Sidebar.astro";
import NavBarSidebar from "../components/partials/NavBarSidebar.astro";
import FooterSidebar from "../components/common/FooterSidebar.astro";
import { ToastContainer, toast } from "react-toastify";

import { getCurrentUser } from "../utils/user";

// Import Store
import { userStore } from "../store/UserStore";
import { roleStore } from "../store/roleStroe";

// Import Library Styles
import "react-toastify/dist/ReactToastify.css";

// Import Global Styles
import "../styles/globals.scss";

interface Props {
  title: string;
}

const { title } = Astro.props;
const pathname = Astro.url.pathname;

if (Astro.cookies.has("reef_token")) {
  const data: any = await getCurrentUser(
    Astro.cookies.get("reef_token")?.value as string
  );

  if(data?.isAdmin) {
    roleStore.set("admin");
  } else {
    roleStore.set("employee");
  }

  console.log(data, "Loaded");
  userStore.set(data);
}
---

<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {
      !pathname.includes("signin") ? (
        <>
          <NavBarSidebar />

          <Sidebar />

          <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
            <div
              id="main-content"
              class="relative w-full h-full overflow-y-auto bg-gray-50 lg:rtl:ml-0 lg:rtl:mr-64 lg:ml-64 dark:bg-gray-900 min-h-screen"
            >
              <slot />

              <FooterSidebar />
            </div>
          </div>
        </>
      ) : (
        <slot />
      )
    }

    <ToastContainer
      client:only="react"
      position="top-right"
      autoClose={5000}
      hideProgressBar={false}
      newestOnTop={false}
      closeOnClick
      rtl={false}
      pauseOnFocusLoss
      draggable
      pauseOnHover
      theme="light"
    />
  </body>
</html>
